<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://www.jqueryscript.net/css/jquerysctipttop.css">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;assets/img/ttpt/telepharmacy.jpg&quot;);width: 350px;height: 450px;"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4">Create an Account</h4>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="InputFirstName" placeholder="First Name" name="first_name" style="font-size: 15px;" autofocus=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="InputLastName" placeholder="Last Name" name="last_name" style="font-size: 15px;" autofocus=""></div>
                                </div><input class="form-control form-control-user" type="email" id="InputFullname" style="font-size: 15px;" autofocus="" placeholder="FullName">
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="InputEmail" aria-describedby="emailHelp" placeholder="Email Address" name="email" style="font-size: 15px;" autofocus=""></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="password" id="examplePasswordInput" placeholder="Password" name="password" style="font-size: 15px;" autofocus=""></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="password" id="exampleRepeatPasswordInput" placeholder="Repeat Password" name="password_repeat" style="font-size: 15px;" autofocus=""></div>
                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit" style="font-size: 18px;">Register Account</button>
                                <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button" style="font-size: 18px;"><i class="fab fa-google"></i>&nbsp; Register with Google</a><a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button" style="font-size: 18px;"><i class="fab fa-facebook-f"></i>&nbsp; Register with Facebook</a>
                                <hr>
                            </form>
                            <div class="text-center"><a class="small" href="forgot-password.html" style="font-size: 15px;">Forgot Password?</a></div>
                            <div class="text-center"><a class="small" href="login.html" style="font-size: 15px;">Already have an account? Login!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-light py-5" id="GreenPay">
        <h2 class="text-center mb-5">遠距藥事服務收費方式</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card mb-4">
                        <div class="bg-white card-header">
                            <h4 class="text-primary">Starter</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title" style="font-size: 32px;">NT$600<small class="text-muted">&nbsp;/Month</small></h1>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Singel User</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5GB Storage</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5 projects</li>
                                <li class="text-muted mb-2"><i class="icon ion-close mr-2"></i>Free Domain</li>
                                <li class="text-muted mb-2"><i class="icon ion-close mr-2"></i>Premium Support</li>
                            </ul><a class="btn btn-primary mt-2" role="button" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card mb-4">
                        <div class="bg-white card-header">
                            <h4 class="text-primary">Professional</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title" style="font-size: 32px;">NT$1500<small class="text-muted">&nbsp;/3Month</small></h1>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Singel User</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5GB Storage</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5 projects</li>
                                <li class="text-muted mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Free Domain</li>
                                <li class="text-muted mb-2"><i class="icon ion-close mr-2"></i>Premium Support</li>
                            </ul><a class="btn btn-primary mt-2" role="button" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="card mb-4">
                        <div class="bg-white card-header">
                            <h4 class="text-primary">Business</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title" style="font-size: 32px;">NT$5500<small class="text-muted">&nbsp;/Year</small></h1>
                            <ul class="list-unstyled">
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Singel User</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5GB Storage</li>
                                <li class="mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>5 projects</li>
                                <li class="text-muted mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Free Domain</li>
                                <li class="text-muted mb-2"><i class="icon ion-checkmark mr-2 text-primary"></i>Premium Support</li>
                            </ul><a class="btn btn-primary mt-2" role="button" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3><a href="#">Company<span>logo </span></a></h3>
                    <p class="links"><a href="#">Home</a><strong> · </strong><a href="#">Blog</a><strong> · </strong><a href="#">Pricing</a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                    <p class="company-name">Company Name © 2015 </p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                    </div>
                    <div><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-left"> +1 555 9999</p>
                    </div>
                    <div><i class="fa fa-envelope footer-contacts-icon"></i>
                        <p> <a href="#" target="_blank">support@company.com</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 footer-about">
                    <h4>About the company</h4>
                    <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>